.footerContainer{
    background-color: var(--bluegray);
    padding: 20px;
    display: flex;
}

.logoSec,
.textSec,
.finalSec{
    width: 20%;
}

.footerContainer.dark{
    background-color: var(--bluedark);
    color: var(--lightestColor);
}

.linksFooter{
    display: flex;
    flex-direction: column;
}

.link{
    text-decoration: underline;
    margin: 15px;
    margin-bottom: 15px;
}

.link:hover{
    color: var(--bluesky);
}

@media (max-width:768px){
    .footerContainer{
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logoSec,
    .textSec,
    .finalSec{
        width: 100%;
        padding: .5rem;
        margin-top: 2rem;
    }

    .linksFooter{
        display: flex;
        margin-top: .5rem;
    }
}