
  .header {
    color: var(--bluedark);
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
  }


  .header.dark {
    background-color: var(--darkMode);
    color: var(--lightestColor);
  }

  .textDarkMode {
    color: var(--lightestColor);
  }

  .subtitleTop {
    color: var(--bluedark);
    font-weight: bold;
  }

  .subtitleTop.dark {
    color: var(--lightestColor);
    font-weight: bold;
  }

  .cartDiv {
    border: 2px solid var(--bluedark);
    background-color: var(--bluegray);
    position: absolute;
    left: 70%;
    top: 0;
    width: 30%;
    height: 100vh;
    position: fixed;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  .cartDiv.dark {
    border: 2px solid var(--lightestColor);
    background-color: var(--bluedark);
    color: var(--lightestColor);
  }

  .show {
    transform: translateX(0);
  }

  .hide {
    transform: translateX(100%);
  }


@media (max-width:768px){
  .header {
    color: var(--bluedark);
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
  }

  .hide {
    display: none;
  }

  .cartDiv{
    
    padding: 20px;
    position: absolute;
    position: fixed;
    top: 50%;
    left: 61%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 100%;
  }

  nav{
    gap: .5rem;
  }

  .storeName {
    display: none;
  }
}